[Unit]
Description=Run snapsync for local filesystems

[Timer]
OnCalendar=*-*-* 20:00:00
RandomizedDelaySec=5min
Persistent=true

[Install]
WantedBy=timers.target
